@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */

/* stiletto: {
  50: #fcf6f4;
  100: #faebe9;
  200: #f5d8d6;
  300: #edb8b4;
  400: #e28f8a;
  500: #d36360;
  600: #bd4143;
  700: #a73439;
  800: #852c32;
  900: #732830;
  950: #3f1216;
} */

/* Provide sufficient contrast against white background */
/*a {
  color: #0366d6;
}*/

code {
  color: #e01a76;
}

body {
  background-color: #f8f7ff;
}
