@tailwind base;
@tailwind components;
@tailwind utilities;

/* stiletto: {
  50: #fcf6f4;
  100: #faebe9;
  200: #f5d8d6;
  300: #edb8b4;
  400: #e28f8a;
  500: #d36360;
  600: #bd4143;
  700: #a73439;
  800: #852c32;
  900: #732830;
  950: #3f1216;
} */

/* Provide sufficient contrast against white background */
/*a {
  color: #0366d6;
}*/

code {
  color: #e01a76;
}

body {
  background-color: #f8f7ff;
}
